.page_container {
    max-width: 1200px;
    margin-left: 0;
    margin-right: 0;
}

.category_card {


    background-color: #E9EBFA;
}

.author_card {
    width: 324px;
    height: 120px; 
    margin-top: 20px;
    background-color: #E9EBFA;
}

.footer_common {
    padding:40px 20px 25px; 
    font-size: 14px; 
    line-height: 20px; 
    letter-spacing: .25px; 
    color: #777; 
    background-color: #f6f6f6
}

.footer_content {
    max-width: 1022px; 
    width: 100%; 
    margin: 0 auto;
}

.footer_content_columns {
    display: flex; 
    justify-content: space-between; 
    gap:16px;
}

.footer_column_list {
    display: flex; 
    flex: 1; 
    justify-content: space-evenly; 
    gap: 4px 16px; 
    font-size: 1em;
}

.footer_social_netw {
    color: #ccc; 
    max-height: 32px; 
    background: #fff; 
    border-radius: 50%; 
    margin: 0 2px 0 2px;
    filter: saturate(0%) opacity(60%);
}

.footer_lower_block {
    margin-top: 18px; 
    display: flex; 
    justify-content: space-between; 
    gap: 16px;
}

.footer_lower_block_appstore {
    max-width: 135px; 
    display: inline-block; 
    height: 40px; 
    border-radius: 4px; 
    filter: saturate(0%) opacity(40%);
}

.main_page_large_image {
    position: relative;
    display: inline-block;
}

.main_page_large_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main_page_large_image span {
    /*background: rgba(0,0,0,0.7); (полупрозрачность)*/
    color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 0;
    bottom: 0px;
    font-size: 28px;
    padding: 55% 3%;
    text-align: right;

}
