{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container mb-5" style="margin-top: 100px; max-width: 500px;">
    <h2>Зарегистрируйтесь:</h2>
    <form method="post" class="mt-5">{% csrf_token %}
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-4 col-form-label" ">Имя пользователя</label>
            <div class="col-sm-8">
                <input type="text" name="username" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-4 col-form-label">Пароль</label>
            <div class="col-sm-8">
                <input type="password" name="password" class="form-control" id="inputPassword3">
            </div>
        </div>
        <div class="row mb-3">
            <label for="confirmPassword3" class="col-sm-4 col-form-label">Подтверждение пароля</label>
            <div class="col-sm-8">
                <input type="password" name="password_confirm" class="form-control" id="confirmPassword3">
            </div>
        </div>
        {% if message %}
        <div class="row mb-3">
            <p style="color: red;"> {{ message }}</p>
        </div>
        {% endif %}

        <div class="d-flex gap-4 mt-5">
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </div>
    </form>
</div>
{% endblock %}
