{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}
        <title>Training Portal</title>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css"
            href="{% static 'css/stars.css' %}">

        <link rel="stylesheet" type="text/css"
            href="{% static 'css/fontawesome.min.css' %}">
        <link rel="stylesheet" type="text/css"
                href="{% static 'css/brands.min.css' %}">
        <link rel="stylesheet" type="text/css"
                href="{% static 'css/solid.min.css' %}">


    {% endblock %}
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function (){
            $.ajax({
                url: "{% url 'mainapp:orders-list' %}",
                type: "GET",
                data: {
                    is_paid: 0
                },
                success: function(data){

                    if (data.length > 0) {
                        $("#a_id").removeClass("disabled");
                        $("#b_id").removeClass("disabled");
                        $('#dataCart').text(data.length);
                        $("#a_ord").removeClass("disabled");
                    } else {
                        $("#a_id").addClass("disabled");
                        $("#a_ord").addClass("disabled");
                        $('#dataCart').empty();
                        $("#b_id").addClass("disabled");
                    }
                },

            })
        })
</script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}


</head>
<body>
<div class="container">

    {% block menu %}
        {% include 'includes/inc_menu.html' %}
    {% endblock %}

    {% block list %}

    {% endblock %}

    {% block content %}

    {% endblock %}

</div>
</body>
<footer>
    {% block footer %}
        {% include 'includes/inc_footer.html' %}
    {% endblock %}
</footer>
</html>
