{% extends 'mainapp/base.html' %}
{% load static %}

{% block js %}
   {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--    <script src="{% static 'js/jquery.min.js' %}"></script>-->
    <script type="text/javascript">
      function add_to_cart(course_id) {
        csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
          url: "{% url 'mainapp:orders-list'%}",
          type: "POST",
          data: {
            course: course_id,
            buyer: {{ user.id }},
            csrfmiddlewaretoken: csrftoken
          },
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          success: function (data) {
            alert("Курс добавлен в корзину");
          },
          error: function (jqXHR) {
            if (jqXHR.status == 409) {
              alert("Курс уже в корзине");
            } else {
              alert("Не получилось добавить курс в корзину");
            }
          }
        })
      }
      $(document).ready(function () {
        {% if feedback_form %}
          $("#feedbackSubmit").click(function () {
            $("#cardForm").hide();

            var $form = $("#feedbackForm");
            $.ajax({
              type: "POST",
              url: $form.attr("action"),
              data: $form.serialize(),
              success: function (data) {
                $("#feedback_list").append(data.card);
              }
            });
          });
        {% endif %}
      })
    </script>
{% endblock %}

{% block content %}
<!-- Блок Lesson-->


<div class="container d-flex" style="margin-top: 100px;">
    <!-- left bar -->
    <div class='col-md-3' style="padding: 20px;">
        {% if is_ordered %}
        {% if all_lessons %}
        <h2 style="margin-top: 40px;"> Список уроков</h2>
        <ul class="list-group">
            {% for item in all_lessons %}
            <li class="list-group-item"><a href="{% url 'mainapp:lesson_detail' item.pk %}"
                                           style="text-decoration: none">
                <!--                    {{ item.id }} {{ item.post.title }}-->
                {{ item.post.title }}
            </a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endif %}

        {% if course_author %}
        <h2 style="margin-top: 40px;"> Список уроков</h2>
        <ul class="list-group">
            {% for item in all_lessons %}
            <li class="list-group-item"><a href="{% url 'mainapp:lesson_detail' item.pk %}"
                                           style="text-decoration: none">
                {{ item.post.title }}
            </a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <!-- end of left bar -->
    <!-- main content -->
    <div class='col-md-9' style="
            /* border:3px solid blue;  */
            padding: 20px; ">
        <h1>Курс: {{ course.name }}</h1>

        <figure class="figure mt-3">
            <img src="{{ course.img_url }}" class="figure-img img-fluid rounded" alt="...">
        </figure>

                <p>{{ course.description }}</p>
                {% if user.is_authenticated %}
                {% if not user.is_teacher %}
                    {% if not is_ordered %}
                        {% csrf_token %}
                        <input class="btn btn-primary" type="button" value="Добавить в корзину" onclick="add_to_cart({{ course.id }})">
                    {% endif %}
                {% endif %}
                {% endif %}
                {% if user.is_teacher %}
                        <a href="{% url 'mainapp:lesson_create' course.id %}" class="mt-4 btn btn-primary">Создать лекцию</a>
                {% endif %}
                <!-- comments to course -->


        <!-- comments to course -->
          <!-- comments to course -->
            <div id="feedback-list" class="mt-5">
                {% if feedback %}
                    {% for item in feedback %}
                        {% include 'includes/feedback_card.html' %}
                    {% endfor %}
                {% else %}
                    <p>

                        Пока о данном курсе нет отзывов.
                    </p>
                {% endif %}
            </div>
            {% if not user.is_teacher %}
                {% if feedback_form %}
                    <div class="card" id="cardForm">
                        <div class="card-body">
                            <h5 class="card-title">Добавить отзыв</h5>
                            <p class="card-text">
                            <form action="{% url 'mainapp:course_feedback' %}" method="POST" id="feedbackForm">
                                {% csrf_token %}
                                {% for hidden in feedback_form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                {% for field in feedback_form.visible_fields %}
                                    {{ field }}
                                {% endfor %}
                            </form>
                            <button id="feedbackSubmit" class="btn btn-primary btn-block">Отправить отзыв</button>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <!-- end of comments to course -->
        <!-- end of comments to course -->
    </div>
    <!-- end of main content -->


</div>
<!-- КОНЕЦ Блок Course-->
{% endblock %}

