{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
{% comment %}
<div style="margin-top: 100px;"></div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
{% endcomment %}

<div class="container mb-5" style="margin-top: 100px; max-width: 500px;">
    <h2>Создание лекции:</h2>
    {% if messages %}
    {% for message in messages %}
    <div class="row mb-3">
        <p style="color: red;">{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <form class="mt-5" method="post" novalidate>
        {% csrf_token %}
  <div class="row mb-3">
            <label for="l_title" class="col-sm-10 col-form-label">Название лекции:</label>
            <div class="col-sm-10">
                <input type="text" name="l_title" class="form-control" id="l_title" required>
            </div>
        </div>
               <div class="row mb-3">
            <label for="text" class="col-sm-10 col-form-label">Краткое описание</label>
            <div class="col-sm-10">
                <textarea name="text" class="form-control" id="text" rows="5" required></textarea>
            </div>
        </div>
               <div class="row mb-3">
            <label for="body" class="col-sm-10 col-form-label">Текст лекции</label>
            <div class="col-sm-10">
                <textarea name="body" class="form-control" id="body" rows="5" required></textarea>
            </div>
        </div>


        <div class="row mb-3">
            <label for="order" class="col-sm-10 col-form-label"># Лекции </label>
            <div class="col-sm-10">
                <input type="number" name="order" class="form-control" id="order" required>
            </div>

                    <div class="row mb-3">
            <label for="video_url" class="col-sm-10 col-form-label">Video URL</label>
            <div class="col-sm-10">
                <input type="text" name="video_url" class="form-control" id="video_url" >
            </div>
        </div>
            <div class="row mb-3">
            <label for="img_url" class="col-sm-10 col-form-label">URL картинки</label>
            <div class="col-sm-10">
                <input type="text" name="img_url" class="form-control" id="img_url">
            </div>
        </div>
<!--            <div class="row mb-3">-->
<!--            <label for="img_file" class="col-sm-10 col-form-label">Файл картинки</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="text" name="img_file" class="form-control" id="img_file">-->
<!--            </div>-->
<!--        </div>-->

        <hr>
        <div class="d-flex gap-4 mt-3 mb-3">
            <button type="submit" class="btn btn-primary" value="Update">Сохранить</button>
        </div>

        <hr>

    </form>
</div>

{% endblock %}



