{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    {# Блок about #}
    <div class="row" style="margin-top: 100px;margin-bottom: 50px;">


    <div class="col-lg-8">
        {% for news in news_list %}
        <div class="card my-2">
            <div class="card-body shadow">
                <h5 class="card-title">{{ news.post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ news.created_at }}</h6>
                <p class="card-text">{{ news.post.text|truncatechars:200  }}</p>
                 <a href="{% url 'mainapp:news_details' news.pk %}"
                               class="btn btn-primary">Подробнее</a>
            </div>
        </div>

        {% endfor %}


        </div>

        <div class="col-lg-4">
            <div class="card my-2 sticky-top">
                <div class="card-header">
                    Фильтры
                </div>
                <div class="card-body shadow">
                    <form action="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Дата от...</span>
                            </div>
                            <input type="date" class="form-control" name="dateFrom">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Дата до...</span>
                            </div>
                            <input type="date" class="form-control" name="dateTo">
                        </div>

                        <button type="submit"
                                class="btn btn-primary btn-block">Фильтровать
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>

         {% include 'includes/pagination.html' %}
    {# end block about #}

{% endblock %}