{% extends 'mainapp/base.html' %}
{% load static %}



{% block content %}
<div class="container col-lg-8" style="margin-top: 100px;" align="justify">
   <h3 align="center"> Условия использования </h3>
    <p class=" mt-3 mb-5">
        <p style="text-indent: 35px;">
            Используя веб-сайт "Магазин курсов" ("Сервис"), или любые сервисы "Магазин курсов",
            вы соглашаетесь соблюдать следующие условия ("Условия использования").
        </p>
        <p style="text-indent: 35px;">
                Если вы соглашаетесь с данными условиями от имени юридического лица, вы указываете,
            что имеете право связывать данными условиями это юридическое лицо, его филиалы и всех пользователей,
            которые получают доступ к нашим услугам через вашу учетную запись,
            в этом случае термины "вы" или "ваш" относятся к этому юридическому лицу, его филиалам и пользователям,
            связанным с ним. Если у вас нет таких полномочий или если вы не согласны с настоящими условиями,
            вы не должны принимать это соглашение и не можете пользоваться услугами "Магазин курсов".
        </p>
        <p style="text-indent: 35px;">
                Если "Магазин курсов" внесет существенные изменения в настоящие условия,
            мы уведомим вас по электронной почте или разместим уведомление на нашем сайте до вступления изменений в силу.
            Любые новые функции, расширяющие или улучшающие текущие услуги, включая выпуск новых инструментов и ресурсов,
            регулируются условиями предоставления услуг. Дальнейшее использование сервиса после любых подобных
            изменений означает ваше согласие с этими изменениями. Ознакомиться с последней версией условий
            предоставления услуг можно в любое время по ссылке:
            <a href="{% url 'mainapp:terms' %}">http://welcome."Магазин курсов"/ru/terms</a>
        </p>
        <p style="text-indent: 35px;">
            Нарушение любого из приведенных ниже условий приведет к блокировке вашего аккаунта.
            Всю ответственность за контент, размещенный в открытом доступе или переданный в частном порядке,
            несет исключительно создатель этого контента.
            Хотя "Магазин курсов" запрещает размещение некоторых материалов на Сервисе,
            вы понимаете и соглашаетесь с тем, что "Магазин курсов" не несет ответственности за
            размещенные на Сервисе материалы. Вы используете и полагаетесь на любой Контент или материалы,
            опубликованные с помощью Сервиса или полученные вами при помощи Сервиса, на свой риск.
        </p>
        <ol type="A">
            <p><li>
                <u>Условия пользования личной учётной записью:</u><br><br>
                <ul>
                    <li>Вам должно быть 13 полных лет или больше.</li>
                    <li>Вы должны быть человеком. Аккаунты, зарегистрированные "ботами"
                        или иными автоматическими способами запрещены.</li>
                    <li>Вы должны указать свое настоящее полное имя, действительный адрес электронной почты и
                        любую другую информацию, запрашиваемую для завершения процесса регистрации.</li>
                    <li>Ваш личный аккаунт может быть использован только одним человеком -
                        совместное использование несколькими людьми одной учетной записи запрещено.</li>
                    <li>Вы несете ответственность за безопасность вашей учетной записи и пароля.</li>
                        "Магазин курсов" не может и не будет нести ответственность за любые потери или ущерб от
                        невыполнения вами этого обязательства.</li></ul>
                </ul><br>
            <p>Вы несете ответственность за весь размещаемый вами контент и за все действия,
                которые происходят под вашей учетной записью.
                Один человек или одно юридическое лицо не может иметь более одного аккаунта.
                Вы не можете использовать сервис для любой незаконной или неправомочной цели.
                При использовании Сервиса вы не должны нарушать законы в вашей юрисдикции
                (включая, но не ограничиваясь законом об авторском праве или товарных знаках).</p>
            </li></p>
            <p><li><u>Изменения Сервиса</u><br><br>
                <p>"Магазин курсов" оставляет за собой право в любое время и время от времени изменять или прекращать,
                    временно или постоянно, услуги (или любую их часть) с уведомлением или без него.
                    "Магазин курсов" не несет ответственности перед вами или третьими лицами за любые изменения,
                    приостановку или прекращение предоставления услуг.</p>
            </li></p>
            <p><li><u>Авторское право и право собственности на контент</u><br><br>
            <p>Мы не претендуем на права на интеллектуальную собственность на материалы,
                которые вы размещаете на веб-сервисе.
                Права собственности на ваш личный профиль и на все загруженные материалы остаются за вами.</p>
            <p>Публичные материалы пользователей распространяются под лицензией
                Creative Commons BY-SA 4.0 (cc-wiki) с обязательным указанием авторства.
                Указав в настройках, что ваш контент является открытым, вы тем самым соглашаетесь
                с условиями этой лицензии и подтверждаете, что данный контент либо принадлежит вам или
                распространяется по лицензии CC BY-SA 4.0 с верным указанием авторства.</p>
            <p>При любом использовании материалов, размещенных в открытом доступе на Cервисе,
                необходимо указывать ссылку на "Магазин курсов", как на источник.
                "Магазин курсов" не проводит премодерацию контента, но "Магазин курсов" и его
                представители имеют право (но не обязательство) по своему усмотрению не публиковать и
                    ли удалять любой контент, доступный на веб-сервисе.</p>
            <p>Вы обязуетесь защищать "Магазин курсов" от любых претензий, требований,
                исков и судебных разбирательств, в случае, если такие будут выдвигаться третьими лицами,
                указывающих на то, что ваш контент или ваше использование Сервиса в нарушение настоящего
                Соглашения нарушает или незаконно присваивает себе права на интеллектуальную собственность
                третьей стороны или нарушает действующее законодательство, а также обязуетесь возместить
                убытки "Магазин курсов" на возмещение ущерба третьей стороне, и на оплату работы адвокатов
                по этой претензии, требованию, иску или судебному разбирательству, при условии, что "Магазин курсов"
            <ol type="I">
            <li>незамедлительно предоставляет вам письменное уведомление о претензии, требовании,
                иске или судебном разбирательстве;</li>
            <li>дает вам возможность самостоятельно контролировать защиту и урегулирование претензии,
                требования, иска или судебного разбирательства (при условии, что вы не можете урегулировать любые претензии,
                требования, иски или судебные разбирательства, если урегулирование не снимает со "Магазин курсов"
                любую ответственность по делу); и</li>
            <li>обеспечивает вам все необходимое содействие за ваш счет.</li></p>
        </ol>
            </li>
            <li><u>Основные положения</u><br><br>
                <p>Вы используете Сервис на свой риск. Услуга предоставляется в том виде, в котором она имеется или доступна.</p>
                <p>Техническая поддержка "Магазин курсов" доступна на английском и русском языках с помощью электронной почты.</p>
                <p>Вы осознаете, что "Магазин курсов" пользуется услугами по поставке от третьих лиц и партнерскими хостингами
                    для обеспечения необходимым оборудованием и программным обеспечением, для работы с сетями, для хранения данных,
                    а также для обеспечения технологий, необходимых для работы "Магазин курсов".</p>
                <p>Вы обязуетесь не: изменять, адаптировать или взламывать Сервис и не изменять другие сайты таким образом,
                    чтобы возникало ложное впечатление, что они имеют отношение к Сервису "Магазин курсов" или к другим сервисам "Магазин курсов"</p>
                <p>Вы соглашаетесь не воспроизводить, не дублировать, не копировать, не продавать,
                    не перепродавать или не эксплуатировать какую-либо часть Сервиса, использование Сервиса или доступ к
                    Сервису без явного письменного разрешения со стороны "Магазин курсов".</p>
                <p>Мы можем, но не обязаны удалять контент и учетные записи, содержащие материалы,
                    которые на наш взгляд являются недостоверными, оскорбительными, дискредитирующими,
                    клеветническими, порнографическими, незаконными, непристойными или иным образом неприемлемыми или
                    нарушающими интеллектуальную собственность любой из сторон или настоящие условия предоставления услуг.
                    Словесное, физическое, письменное и иные виды насилия (включая угрозы насилия или возмездия) в отношении любого пользователя,
                    сотрудника, участника или служащего Сервиса приведет к немедленной блокировки аккаунта.</p>
                <p>Вы понимаете, что техническая обработка и передача услуг, в том числе вашего контента,
                    может быть переданы в незашифрованном виде и включать
                <ol type="I">
                    <li>передачу по различным сетям; и </li>
                    <li>изменения для соответствия техническим требованиям связующих сетей или устройств.</li>
                </ol>
                <p>Вы не должны загружать, публиковать, размещать или передавать нежелательные электронные письма,
                    СМС, а также сообщения, содержащие "спам".</p>
                <p>Вы не должны передавать любые вирусы или любой код опасного характера.</p>
                <p>Если объем использования пропускной способности значительно превышает средний объем использования
                    пропускной способности (определяемый исключительно "Магазин курсов") другими
                    пользователями "Магазин курсов", мы оставляем за собой право немедленно отключить вашу
                    учетную запись или ограничить возможность просматривать и публиковать
                    материалы до тех пор, пока вы не сможете снизить потребление пропускной способности.</p>
                <p>"Магазин курсов" не гарантирует, что</p>
                <p><ol type="I">
                    <li>услуги будут соответствовать вашим специфическим требованиям,</li>
                    <li>услуга будет предоставляться непрерывно, своевременно, безопасно или без ошибок,</li>
                    <li>результаты, которые могут быть получены от использования сервиса будут точными и надежными,</li>
                    <li>качество любых продуктов, услуг, информации или другого материала, купленного или полученного
                        вами через Сервис, будет соответствовать вашим ожиданиям, и</li>
                    <li>любые ошибки на веб-сервисе будут исправлены.</li>
                </ol></p>
                </p>
            </li>
        </ol>
    <p style="text-indent: 35px;">
        Вы явно понимаете и соглашаетесь, что "Магазин курсов" не несет ответственности за любые прямые, косвенные,
        случайные, специальные, косвенные или штрафные убытки, включая, но не ограничиваясь,
        убытки за потерю прибыли, репутации, права пользования, данных или других нематериальных
        потерь (даже если "Магазин курсов" был предупрежден о возможности таких убытков), в результате:
    <ol type="I">
        <li>использования или невозможности использования сервиса;</li>
        <li>стоимости приобретения заменяющих товаров и услуг, возникающих в связи с любыми товарами,
            данных, информации или услуг, купленных или полученных, или полученных сообщений или сделок,
            заключенных в, с помощью или из Сервиса;</li>
        <li>несанкционированного доступа или изменения ваших сообщений или данных;</li>
        <li>заявлений или поведения любой третьей стороны на веб-сервисе;</li>
        <li>или любого другого вопроса, касающегося обслуживания.</li>
    </ol>
    <p style="text-indent: 35px;">
        Неспособность "Магазин курсов" выполнить или обеспечить любое право или положение "Условий использования"
        не означает отказ от такого права или положения. "Условия использования" составляют полное
        соглашение между вами и "Магазин курсов" и регулирует использование вами Сервиса,
        заменяя собой любые предыдущие соглашения между вами и "Магазин курсов"
        (включая, но не ограничиваясь, любыми предыдущими версиями условий предоставления услуг).</p><br>
</div>

{% endblock %}
