{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

{# block User Manual #}


<div class="container" style="margin-top: 100px; margin-bottom: 50px;">



        <h1> Инструкция пользователя сайта "Твой Курс" </h1>

        <h4>Добро пожаловать на сайт "Твой Курс"</h4>
        <p>Ниже описаны ваши возможности, в зависимости от того, зарегистрировались вы на сайте или нет.</p>
        <h2>Для незарегистрированного пользователя</h2>
        <p>Если вы не зарегистрировались на сайте, вы сможете</p>
        <ul>
            <li>Зайти на сайт;</li>
            <li>Просмотреть главную страницу;</li>
            <li>Прочитать описание и правила портала;</li>
            <li>Зайти на страницу контакты;</li>
            <li>Ленту новостей;</li>
            <li>Просмотреть список категорий; </li>
            <li>Зайти в категорию, просмотреть список курсов, для каждого курса указана цена;</li>
            <li>Воспользоваться поиском, найти курс по названию.</li>

        </ul>

        <p>Расширенные возможности доступны для зарегистрированных посетителей сайта.<p>

    <h2>Регистрация на сайте</h2>
    <p>
        Чтобы зарегистрироватся на сайте нажмите кнопку "Зарегистрироваться", заполните все поля.
        Если вы регистрируетесь как слушатель курсов, то оставьте поле "Вы преподаватель" пустым,
        Если вы регистрируетесь как преподаватель курсов, то в поле "Вы преподаватель" поставьте галочку.
    </p>
    <p>
        Если вы ренее уже регистрировались на курсах, и у вас уже есть логин и пароль, вам для регистрации
        нужно
        войти на портал, для этого нажмите кнопку "Войти", заполните поля "Имя пользователя" и "Пароль",
        нажмите кнопку "Войти".
    </p>
    <h2>Если вы зарегистрировались и вошли как студент</h2>
    <p>
        Если вы зарегистрировались и вошли как студент, то вам станут доступны следующие возможности, вы
        сможете:</p>
    <ul>
        <li>Зайти в свой личный кабинет;</li>
        <li>В личном кабинете (далее ЛК) просмотреть приобретенные курсы, пройденные курсы, курс , который вы сейчас
            изучаете;</li>
        <li>Приобрести курс, то есть положить курс в корзину, оплатить его. После этого приобретенный курс
            появится у вас в списке курсов в личном кабинете;</li>
        <li>Если курс вами приобретен вы можете войти в курс, просмотреть список лекций курса;</li>
        <li>Вы можете войти в лекцию курса, просмотреть материалы лекции;</li>
        <li>Под материалами лекции вы можете оставить комментарий о лекции и оценить данную лекцию , выбрав
            количество звездочек от 1 до 5;</li>
        <li>В случае возникновения вопросов, вы можете написать перейти по ссылку "помощь" внизу устраницы,
            после этого вы попадете на страницу отправки письма в тех.поддержку. Вы сможете заполнить форму
            и отправить письмо в тех. поддержку;</li>
    </ul>
    <p>Чтобы выйти из состояния регистрации нажмите кнопку "Выйти" в шапке сайта. </p>

    <h2>Если вы зарегистрировались и вошли как преподаватель</h2>
    <p>
        Если вы зарегистрировались и вошли как преподаватель, то вам станут доступны следующие возможности:
    </p>
    <ul>
        <li>Зайти в свой личный кабинет с ограниченными возможностями. Для доступа ко всем возможностям ЛК
            ваш статус преподавателя должен быть подтвержден админитсратором
            сайта. При первом входе в личный кабинет вы увидите соответствующее уведомление. После подтверждения статуса администратором вы сможете войти в свой личный
            кабинет с неограниченными возможностями; </li>
        <li>В Личном кабинете будет список созданных вами курсов. Также в личном кабинете будет
        доступна кнопка "Создать курс";</li>
        <li> Для создания курса необходимо в личном кабинете нажать кнопку "Создать курс" и в открывшемся
            окне заполнить все поля формы создания курса.
            В поле URL картинки вставляется либо ссылка на картинку из интернета формата "https://.....
            .jpg" , либо название файла , предварительно переданного администратору. Также в форме необходимо
            выбрать категорию из списка предложенных.
            При успешном создании курса вы попадете на страницу созданного курса;
        </li>
        <li> На странице курса вы можете видеть список лекций курса, также кнопки "Редактировать курс",
            "Удалить курс". Если в курсе пока нет лекций, то список лекций будет пуст;
        </li>
        <li> На странице курса можно создать лекцию данного курса, для этого нажмите кнопку "Создать
            лекцию". После этого появится окно с формой создания лекции. Необходимо заполнить поля "Название
            лекции", "Краткое описание", "Текст лекции", "№ Лекции". В поле "URL картинки" вставляется либо
            ссылка на картинку из интернета формата "https://..... .jpg" , либо название файла ,
            предварительно переданного администратору. В поле "Video URL" вставляется ссылка на видео с
            сайта YouTube в формате https://www.youtube.com/embed/Xiy8xwhbmew?si=vb7hqtiDATouk30x. Такую
            ссылку можно получить из youtube на странице видео -> "поделиться" > "встроить" > из
            предложенного взять нужную часть вида как выше. -> вставить в поле "Video URL". После нажатия на
            кнопку "сохранить" лекция будет создана. На странице курса созданная лекция будет отображаться в
            списке лекций как ссылка;
        </li>
        <li> Со страницы курса, нажимая на кнопку "Обратно в кабинет" вы можете вернуться обратно в личный
            кабинет;
        </li>

    <li> Со страницы курса можно зайти на страницу лекции. На странице лекции отображаются материалы лекции,
        включая текст, окно видео, изображение, а также кнопки "Редактировать лекцию", "Удалить лекцию";
    </li>
    <li>Нажимая на кнопку "Редактировать лекцию", вы попадаете в форму редактирования лекции, где можете
        изменить "Название лекции", "описание лекции", "текст лекции", "номер лекции", ссылки на вижео и
        изображение, прикрепленные к лекции. После внесения изменений, для их сохранения необходимо нажать
        кнопку "Сохранить"; </li>
    <li>Нажимая на кнопку "Удалить лекцию", вы можете удалить данную лекцию;
    </li>
    <li> Со страницы лекции, нажимая на кнопку "Обратно к курсу" вы можете вернуться обратно к курсу.
    </li>

    </ul>

    <p>Чтобы выйти из состояния регистрации нажмите кнопку "Выйти" в шапке сайта.</p>

    <p> Если у вас остались вопросы напишите нам письмо, заполнив форму в разделе "Помощь" </p>
    <h4>Желаем вам приятного обучения!</h4>

{# end block User Manual #}
{% endblock %}
