{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<!-- Блок Course-->
{% if user.is_authenticated %}
<div class="container d-flex" style="margin-top: 100px;">
    <!-- left bar -->
    <div class="col-md-3" style=" padding: 20px 40px 20px 20px;">
        <h3 style="margin-top: 70px">Рекомендуем вам</h3>
        <ul class="list-group">
            {% for course in courses_top %}
            <li class="list-group-item">
                <a href="{% url 'mainapp:course_detail' course.pk %}" style="text-decoration: none"> Курс: {{
                    course.name }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- end of left bar -->
    <!-- main content -->
    <div
            class="col-md-9"
            style="max-width: 540px; padding: 20px">

        <h1>Здравствуйте, {{ user.username }}</h1>

        {# Teacher section #}
        {% if user.is_teacher %}
            {% if user.is_teacher_approved %}
                <h3 class="mt-4">Ваши созданные курсы:</h3>
                <!-- list start -->
                <ul class="mt-3 list-group">
                    {% for item3 in courses_teacher %}
                    <li class="list-group-item">
                        <a href="{% url 'mainapp:course_detail' item3.id  %}"
                           style="text-decoration: none"> {{ item3.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'mainapp:course_create' %}" class="mt-4 btn btn-primary">Создать курс</a>
            {% else %}
                <h3> Ваша заявка на регистрацию в должности преподавателя </h3>
                <h3> отправлена администратору </h3>
            {% endif %}
        {% endif %}
        {# End Teacher section #}

        {# Student section #}
        {% if user.is_teacher == False %}
            <h3 class="mt-4">Вы сейчас изучаете:</h3>
            <!-- card start -->
            {% if course_now %}
            <div class="card mb-3" style="max-width: 540px">
                <div class="row g-0">
                    <div class="col-md-4" style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      " >
                        <img
                                src="/static/{{ course_now.img_url }}"
                                class="img-fluid rounded-start"
                                alt="..."
                        />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> {{ course_now.name }} </h5>
                            <p class="card-text">
                                <small class="text-body-secondary"
                                >something here (optional)</small
                                >
                            </p>
                            <a href="{% url 'mainapp:course_detail' course_now.id  %}" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <h2><br> Пока здесь курса нет <br></h2>
            {% endif %}
             <!-- Course_now card end -->

        <!--        Active_courses-->
            {% if courses_active %}
                <h3 class="mt-4">Ваши активные курсы:</h3>
                <!-- Active_courses list start -->
                {% for item1 in courses_active %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'mainapp:course_detail' item1.id  %}"
                               style="text-decoration: none"> {{ item1.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
            {% endif %}
        <!-- Active_courses list end -->

            <!-- Completed _courses list -->
            {% if courses_done %}
                <h3 class="mt-4">Ваши пройденные курсы:</h3>
                <!-- list start -->
                <ul class="list-group">
                    {% for item2 in courses_done %}
                    <li class="list-group-item">
                        <a href="{% url 'mainapp:course_detail' item2.id  %}"
                           style="text-decoration: none"> {{ item2.name }}</a>
                    </li>
                    {% endfor%}
                </ul>
            {% endif %}
            <!-- Completed _courses list end -->

        {% endif %}
        {# End of Student section #}
    </div>
<!-- end of main content -->
</div>
{% endif %}
{% endblock %}
