{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}

{# Блок Категории #}
<div class="container" style="margin-top: 100px;">
    <h2>Список категорий</h2>
</div>
<div class="container" >
    <div style="background-color: #F3F4F6;padding: 20px;border-radius: 10px;">
        <form class="d-flex" role="search">
            <input class="form-control me-4" type="search" placeholder="Поиск" aria-label="Поиск">
            <div class="form-check" style="width: 250px;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    С сертификатами
                </label>
            </div>
            <div class="form-check" style="width: 250px;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Бесплатные
                </label>
            </div>
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>

    <!-- start cards -->
    <div style="margin-top: 20px;"></div>

    <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center; justify-content: center">
                <img src="{% static 'img/category_img1.png' %}" class="img-fluid rounded-start" alt="..."/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Здоровый образ жизни</h5>
                    <p class="card-text">
                        Это описание категории про здоровый образ жизни с
                        вспомогательным текстом ниже в качестве естественного перехода к
                        дополнительному контенту.
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">Последнее обновление 10 мин. назад</small>
                    </p>
                    <a href="{% url 'mainapp:courses_category' %}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of card -->
    <!-- start cards -->
    <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center; justify-content: center">
                <img src="{% static 'img/category_img2.webp' %}" class="img-fluid rounded-start" alt="..."/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">СПОРТ СПОРТ СПОРТ</h5>
                    <p class="card-text">
                        Это описание категории про различные виды спорта с
                        вспомогательным текстом ниже в качестве естественного перехода к
                        дополнительному контенту.
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">Последнее обновление 25 мин. назад</small>
                    </p>
                    <a href="{% url 'mainapp:courses_category' %}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of card -->
</div>
<!-- КОНЕЦ Блок Категории-->
{# End blocl Category #}

{% endblock %}
