{% extends 'mainapp/base.html' %}
{% load static %}



{% block content %}
   {# Блок Категории #}
   <div class="container" style="margin-top: 100px;margin-bottom: 50px">
    <div style="background-color: #F3F4F6;padding: 20px;border-radius: 10px;">
        <form class="d-flex" role="search">
            <input class="form-control me-4" type="search" placeholder="Поиск" aria-label="Поиск">
            <div class="form-check" style="width: 250px;">
                 {% comment %}
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                <label class="form-check-label" for="flexCheckDefault">
                    С сертификатами
                </label>
            </div>
            <div class="form-check" style="width: 250px;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Бесплатные
                </label>
            </div>
            {% endcomment %}
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>

    <div style="margin-top: 40px;">
        <h2>Категории</h2>
    </div>
    <div class="row row-cols-4">
        {# card start#}
        {% for cat in categories %}
        <div class="col" style="margin:5px">


            <div class="card" >
                <div>
                    <img src="{% static 'img/cat_1.jpg' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                </div>
                <div class="card-body shadow d-flex flex-column justify-content-between">
                    <h5 class="card-title" style="color: #3E50CB;">{{ cat.name }}</h5>

                    <a href="{% url 'mainapp:courses_category' cat.pk %}" class="card-link">2 курса</a>

                </div>
            </div>
        </div>
        {% endfor %}


       
    </div>
       
</div>
<div class="row justify-content-center align-items-center mt-3 mb-n3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
{# End blocl Category #}

{% endblock %}
