{% extends 'mainapp/base.html' %}
{% load static %}

{% block js %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
function add_to_cart(course_id){
    csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $.ajax({
        url: "{% url 'mainapp:orders-list'%}",
        type: "POST",
        data: {
            course: course_id,
            buyer: {{ user.id }},
            csrfmiddlewaretoken: csrftoken
        },
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        success: function(data){
            alert("Курс добавлен в корзину");
            document.location.reload();
        },
        error: function(jqXHR){
            if (jqXHR.status == 409){
                alert("Курс уже в корзине");
            }
            else {
                alert("Не получилось добавить курс в корзину");
            }
        }
    })
}

</script>
{% endblock %}

{% block content %}
<!-- Блок Lesson-->


<div class="container d-flex" style="margin-top: 100px;">
    <!-- left bar -->
    <div class='col-md-3' style="
            /* border: 3px solid blue;   */
            padding: 20px;">
        <h2 style="margin-top: 40px;"> Список уроков</h2>
        <ul class="list-group">
            {% for item in all_lessons %}
            <li class="list-group-item"><a href="{% url 'mainapp:lesson_detail' item.pk %}"
                                           style="text-decoration: none">
                <!--                    {{ item.id }} {{ item.post.title }}-->
                {{ item.post.title }}
            </a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- end of left bar -->
    <!-- main content -->
    <div class='col-md-9' style="
            /* border:3px solid blue;  */
            padding: 20px; ">
        <h1>Курс: {{ course.name }}</h1>
        {% if static_img %}
        <figure class="figure mt-3">
            <img src="/static/{{ course.img_url }}" class="figure-img img-fluid rounded" alt="...">
        </figure>
        {% endif %}
        {% if url_img %}
        <figure class="figure mt-3">
            <img src="{{ course.img_url }}" class="figure-img img-fluid rounded" alt="...">
        </figure>
        {% endif %}


                <p>{{ course.description }}</p>
                {% if not user.is_teacher %}
                    {% if not is_ordered %}
                        {% csrf_token %}
                        <input class="btn btn-primary" type="button" value="Добавить в корзину" onclick="add_to_cart({{ course.id }})">
                    {% endif %}
                {% endif %}
                {% if user.is_teacher %}
                        <a href="{% url 'mainapp:lesson_create' course.id %}" class="mt-4 btn btn-primary">Создать лекцию</a>
                {% endif %}
                <!-- comments to course -->
                    <div class="d-flex">
                        <h3 style="margin: 20px 20px 0 0;">Oтзывы о курсе</h3>
                        <ul class="list-group" style="margin: 20px; ">
                            <li class="list-group-item mblank-2">
                                User1:    Какая-то фигня
                                </li>
                            <li class="list-group-item mblank-2">
                                    User2: А может не фигня
                                </li>
                        </ul>


        <!-- comments to course -->
        <div class="d-flex">
            <h3 style="margin: 20px 20px 0 0;">Oтзывы о курсе</h3>
            <ul class="list-group" style="margin: 20px; ">
                <li class="list-group-item mblank-2">
                    User1: Какая-то фигня
                </li>
                <li class="list-group-item mblank-2">
                    User2: А может не фигня
                </li>
            </ul>

        </div>
        <div class="mb-3 mt-4">
            <h4>Ваш комментарий к курсу</h4>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="button" value="Опубликовать">
        <!-- end of comments to course -->
    </div>
    <!-- end of main content -->


</div>
<!-- КОНЕЦ Блок Course-->
{% endblock %}

