<!doctype html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/bootstrap.bundle.min.js"></script>
        <title>Учебные курсы</title>
    </head>

    <body>
        <!-- Блок меню-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    Питоны</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Каталог курсов
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Курс 1</a></li>
                                <li><a class="dropdown-item" href="#">Курс 2</a></li>
                                <li><a class="dropdown-item" href="#">Курс 3</a></li>
                                <li><a class="dropdown-item" href="#">Курс 4</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Контакты</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="submit" style="margin-left: 20px;">Войти</button>
                        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- КОНЕЦ Блок меню-->
        <!-- Блок Course-->
        <div class="container d-flex" style="margin-top: 100px;">
            <!-- left bar -->
            <div class='col-md-3' style="
            /* border: 3px solid blue;   */
            padding: 20px;">
                <h2 style="margin-top: 40px;"> Список лекций</h2>
                <ul class="list-group">
                    <li class="list-group-item"> <a href="#" style="text-decoration: none">
                            Лекция1 Введение
                        </a> </li>
                    <li class="list-group-item"> <a href="#" style="text-decoration: none">
                            Лекция2 Выведение
                        </a> </li>
                </ul>
            </div>
            <!-- end of left bar -->
            <!-- main content -->
            <div class='col-md-9' style="
            /* border:3px solid blue;  */
            padding: 20px; ">
                <h1>Курс: Здоровый образ жизни</h1>

                <figure class="figure mt-3">
                    <img src="img/course_img1.png" class="figure-img img-fluid rounded"
                        style="width: 200px; height: 200px;" alt="...">
                </figure>
                <p>Курс Здоровый образ жизни ббудет интетесен тем, кто следит за своим здоровьем</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit neque obcaecati consequuntur et
                    corporis eum, eos quos blanditiis itaque ex animi molestiae, voluptatum nisi illo voluptates minima
                    autem inventore laudantium!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo repudiandae provident sequi
                    labore, laboriosam iure consectetur, quos nihil praesentium id quibusdam, vitae inventore cupiditate
                    dignissimos cumque! Accusantium, quasi debitis.</p>
                <input class="btn btn-primary" type="button" value="Записаться">
                <!-- comments to course -->
                    <div class="d-flex">
                        <h3 style="margin: 20px 20px 0 0;">Oтзывы о курсе</h3>
                        <ul class="list-group" style="margin: 20px; ">
                            <li class="list-group-item mblank-2">
                                User1:    Какая-то фигня
                                </li>
                            <li class="list-group-item mblank-2">
                                    User2: А может не фигня
                                </li>
                        </ul>

                    </div>
                    <div class="mb-3 mt-4">
                        <h4>Ваш комментарий к курсу</h4>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <input class="btn btn-primary" type="button" value="Опубликовать">
                 <!-- end of comments to course -->
            </div>
            <!-- end of main content -->




        </div>
        <!-- КОНЕЦ Блок Course-->


        <!-- Блок Footer-->
        <footer class="footer_common">
            <div class="footer_content">
                <div class="footer_content_columns">
                    <div class="page-footer__col page-footer__terms">
                        <div style="margin-bottom: 8px; color:#222;">
                            © 2023 PYTHONS.team
                        </div>
                        Наши условия <a style="color: #777" href="https://welcome.stepik.org/ru/terms" target="_blank"
                            rel="noopener noreferrer">использования<br>и конфиденциальности</a>
                        <div style="margin-top: 18px; width: 100%; text-align: center;">
                            <a style="color: #777" href="#">Switch to English</a>
                        </div>
                    </div>

                    <div class="footer_column_list">
                        <ul class="page-footer__col  page-footer__list">
                            <li style="list-style-type: none">
                                <a style="text-decoration: none;" href="#" target="_blank"
                                    rel="noopener noreferrer">Авторам курсов</a>
                            </li>
                            <li style="list-style-type: none">
                                <a style="text-decoration: none;" href="#" target="_blank" rel="noopener noreferrer">
                                    Компаниям</a>
                            </li>
                            <li style="list-style-type: none">
                                <a style="text-decoration: none;" href="#" target="_blank"
                                    rel="noopener noreferrer">Помощь</a>
                            </li>

                            <li style="list-style-type: none">
                                <a style="text-decoration: none;" href="#" target="_blank"
                                    rel="noopener noreferrer">Контакты</a>
                            </li>
                        </ul>

                        <ul class="page-footer__col page-footer__list">

                            <li style="list-style-type: none">
                                <a style="text-decoration: none;" href="#" target="_blank" rel="noopener noreferrer">
                                    О проекте</a>
                            </li>

                            <li style="list-style-type: none">
                                <a style="text-decoration: none;" href="#" target="_blank"
                                    rel="noopener noreferrer">Команда</a>
                            </li>

                            <li style="list-style-type: none">
                                <a style="text-decoration: none;" href="#" target="_blank"
                                    rel="noopener noreferrer">Вакансии</a>
                            </li>

                            <li style="list-style-type: none">
                                <a style="text-decoration: none;" href="#" target="_blank"
                                    rel="noopener noreferrer">Прессе</a>
                            </li>
                        </ul>

                        <ul style="color: #222">
                            <li style="list-style-type: none" title="Общее количество отправленных решений на Stepik">
                                123 студентов
                            </li>
                        </ul>
                    </div>

                    <div>
                        <a class="footer_social_netw" href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="VKontakte" src="img/footer-vk.svg">
                        </a>
                        <a class="footer_social_netw" href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="Telegram" src="img/footer-tg.svg">
                        </a>
                        <a class="footer_social_netw" href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="Instagram" src="img/footer-instagram.svg">
                        </a>
                        <a class="footer_social_netw" href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="Discord" src="img/footer-discord.svg">
                        </a>
                    </div>
                </div>

                <div class="footer_lower_block">
                    <div class="page-footer__col page-footer__apps">
                        <a class="footer_lower_block_appstore" rel="noopener noreferrer" href="#">
                            <img alt="Get it on Apple Store" src="img/footer-app-store-badge-ru.svg">
                        </a>
                        <a class="footer_lower_block_appstore" rel="noopener noreferrer" target="_blank"
                            rel="noopener noreferrer" href="#">
                            <img alt="Get it on Google Play" src="img/footer-google-play-ru.svg">
                        </a>
                        <a class="footer_lower_block_appstore" rel="noopener noreferrer" target="_blank"
                            rel="noopener noreferrer" href="#">
                            <img alt="Get it on RuStore" src="img/footer-rustore-ru.svg">
                        </a>
                    </div>

                    <div style="display: block; max-width: 50%;">
                        Public user contributions licensed under <a target="_blank" rel="noopener noreferrer"
                            href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license with
                        attribution required
                    </div>

                    <a class="page-footer__col" href="https://sk.ru/" target="_blank" rel="noopener noreferrer">
                        <img src="img/footer-skolkovo_resident_ru.svg" alt="Skolkovo resident" height="40" width="56">
                    </a>
                </div>
            </div>
        </footer>
        <!-- Конец Блок Footer-->


    </body>

</html>
