{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 100px;">

    {# block categories#}
    <div style="margin-top: 40px">
        <h2>Список категорий</h2>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div style="background-color: #F3F4F6;padding: 20px;border-radius: 10px;">
            <form class="d-flex" role="search">
                <input class="form-control me-4" type="search" placeholder="Поиск" aria-label="Поиск">
                {% comment %}
                <div class="form-check" style="width: 250px;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        С сертификатами
                    </label>
                </div>

                <div class="form-check" style="width: 250px;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Бесплатные
                    </label>
                </div>
                {% endcomment %}
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>


        <div style="margin-top: 40px;">
            <h2>Категории</h2>
        </div>
        <div class="row row-cols-4">
            {# card start #}
            <div class="col">
                <div class="card category_card">
                    <div class="card-body shadow d-flex flex-row ">
                        <div>
                            <img src="{% static 'img/category_img1.png' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                        </div>
                        <div class="d-flex flex-column justify-content-between " style="mardin-left:5px;">
                            <h5 class="card-title" style="color: #3E50CB;"><a
                                    href="{% url 'mainapp:courses_category' %}">Категория 1</a></h5>
                            <a href="{% url 'mainapp:courses_category' %}" class="card-link">2 курса</a>
                        </div>

                    </div>
                </div>
            </div>
            {# card end #}

            {# card start #}
            <div class="col">
                <div class="card category_card">
                    <div class="card-body shadow d-flex flex-row ">
                        <div>
                            <img src="{% static 'img/category_img1.png' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                        </div>
                        <div class="d-flex flex-column justify-content-between " style="mardin-left:5px;">
                            <h5 class="card-title" style="color: #3E50CB;"><a
                                    href="{% url 'mainapp:courses_category' %}">Категория 2</a></h5>
                            <a href="{% url 'mainapp:courses_category' %}" class="card-link">2 курса</a>
                        </div>

                    </div>
                </div>
            </div>
            {# card end #}

            {# card start #}
            <div class="col">
                <div class="card category_card">
                    <div class="card-body shadow d-flex flex-row ">
                        <div>
                            <img src="{% static 'img/category_img1.png' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                        </div>
                        <div class="d-flex flex-column justify-content-between " style="mardin-left:5px;">
                            <h5 class="card-title" style="color: #3E50CB;"><a
                                    href="{% url 'mainapp:courses_category' %}">Категория 3</a></h5>
                            <a href="{% url 'mainapp:courses_category' %}" class="card-link">2 курса</a>
                        </div>

                    </div>
                </div>
            </div>
            {# card end #}

            {# card start #}
            <div class="col">
                <div class="card category_card">
                    <div class="card-body shadow d-flex flex-row ">
                        <div>
                            <img src="{% static 'img/category_img1.png' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                        </div>
                        <div class="d-flex flex-column justify-content-between " style="mardin-left:5px;">
                            <h5 class="card-title" style="color: #3E50CB;"><a
                                    href="{% url 'mainapp:courses_category' %}">Категория 4</a></h5>
                            <a href="{% url 'mainapp:courses_category' %}" class="card-link">2 курса</a>
                        </div>

                    </div>
                </div>
            </div>
            {# card end #}

            {# card start #}
            <div class="col">
                <div class="card category_card">
                    <div class="card-body shadow d-flex flex-row ">
                        <div>
                            <img src="{% static 'img/category_img1.png' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                        </div>
                        <div class="d-flex flex-column justify-content-between " style="mardin-left:5px;">
                            <h5 class="card-title" style="color: #3E50CB;"><a
                                    href="{% url 'mainapp:courses_category' %}">Категория 5</a></h5>
                            <a href="{% url 'mainapp:courses_category' %}" class="card-link">2 курса</a>
                        </div>

                    </div>
                </div>
            </div>
            {# card end #}

            {# card start #}
            <div class="col">
                <div class="card category_card">
                    <div class="card-body shadow d-flex flex-row ">
                        <div>
                            <img src="{% static 'img/category_img1.png' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                        </div>
                        <div class="d-flex flex-column justify-content-between " style="mardin-left:5px;">
                            <h5 class="card-title" style="color: #3E50CB;"><a
                                    href="{% url 'mainapp:courses_category' %}">Категория 6</a></h5>
                            <a href="{% url 'mainapp:courses_category' %}" class="card-link">2 курса</a>
                        </div>

                    </div>
                </div>
            </div>
            {# card end #}

            {# card start #}
            <div class="col">
                <div class="card category_card">
                    <div class="card-body shadow d-flex flex-row ">
                        <div>
                            <img src="{% static 'img/category_img1.png' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                        </div>
                        <div class="d-flex flex-column justify-content-between " style="mardin-left:5px;">
                            <h5 class="card-title" style="color: #3E50CB;"><a
                                    href="{% url 'mainapp:courses_category' %}">Категория 7</a></h5>
                            <a href="{% url 'mainapp:courses_category' %}" class="card-link">2 курса</a>
                        </div>

                    </div>
                </div>
            </div>
            {# card end #}
            {# card start #}
            <div class="col">
                <div class="card category_card">
                    <div class="card-body shadow d-flex flex-row ">
                        <div>
                            <img src="{% static 'img/category_img1.png' %}"
                                 class="img-fluid rounded-start mr-2" style="width:70px; height:70px;" alt="..."/>
                        </div>
                        <div class="d-flex flex-column justify-content-between " style="mardin-left:5px;">
                            <h5 class="card-title" style="color: #3E50CB;"><a
                                    href="{% url 'mainapp:courses_category' %}">Категория 8</a></h5>
                            <a href="{% url 'mainapp:courses_category' %}" class="card-link">2 курса</a>
                        </div>

                    </div>
                </div>
            </div>
            {# card end #}

        </div>

        <!-- КОНЕЦ Блок Категории-->
        <!-- Блок Новости-->
        <div class="container" style="margin-top: 40px;">
            <div style="margin-top: 40px;">
                <h2>Новости</h2>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card mb-4">

                        <div class="card-body">
                            <h5 class="card-title">Заголовок новости 1</h5>
                            <p class="card-text">Описание новости 1.</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">

                        <div class="card-body">
                            <h5 class="card-title">Заголовок новости 2</h5>
                            <p class="card-text">Описание новости 2.</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">

                        <div class="card-body">
                            <h5 class="card-title">Заголовок новости 3</h5>
                            <p class="card-text">Описание новости 3.</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# КОНЕЦ Блок Новости #}
        {# Блок Авторы #}
        <div class="container" style="margin-top: 40px;">

            <div style="margin-top: 40px;">
                <h2>Авторы Курсов</h2>
            </div>
            <div class="row row-cols-3">
                <div class="col">
                    <div class="card author_card ">
                        <div class="card-body shadow d-flex flex-row ">
                            <img src="{% static 'img/avatar1.png' %}" alt="photo"
                                 style="width:70px; height: 70px; margin: 8px;">
                            <div style="height: 86px;" class=" d-flex flex-column justify-content-between">
                                <h5 class="card-title">Name Surname</h5>
                                <p style="margin-top: 5px;">Автор 2 курсов</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card author_card ">
                        <div class="card-body shadow d-flex flex-row ">
                            <img src="{% static 'img/avatar2.png' %}" alt="photo"
                                 style="width:70px; height: 70px; margin: 8px;">
                            <div style="height: 86px;" class=" d-flex flex-column justify-content-between">
                                <h5 class="card-title">Name Surname</h5>
                                <p style="margin-top: 5px;">Автор 3 курсов</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card author_card">
                        <div class="card-body shadow d-flex flex-row ">
                            <img src="{% static 'img/avatar3.png' %}" alt="photo"
                                 style="width:70px; height: 70px; margin: 8px;">
                            <div style="height: 86px;" class=" d-flex flex-column justify-content-between">
                                <h5 class="card-title">Name Surname</h5>
                                <p style="margin-top: 5px;">Автор 5 курсов</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div style="margin-top: 40px;"></div>
        {% endblock %}
