{% extends 'mainapp/base.html' %}
{% load static %}

{% block js %}
   {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        function load_comments(){
            $.ajax({
                url: "{% url 'mainapp:comments-list' %}",
                type: "GET",
                data: {
                    post_id: {{ lesson.post.id }}
                },
                success: function (data) {
                    for (let i = 0; i < data.length; i++) {
                        html = '<div class="d-flex flex-start mt-4">'
                            + '<img class="rounded-circle shadow-1-strong me-3" src="/media/'
                            + data[i].author_avatar
                            + '" alt="avatar" width="65" height="65" /><div class="flex-grow-1 flex-shrink-1">'
                            + '<div><div class="d-flex justify-content-between align-items-center"><p class="mb-1">'
                            + data[i].author_name
                            + '</p><a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> ответить</span>'
                            + '</a></div><p class="small mb-0">'
                            + data[i].text
                            + '</p></div>';
                        for (let j = 0; j < data[i].children.length; j++) {
                            html = html + '<div class="d-flex flex-start mt-4">'
                                + '<img class="rounded-circle shadow-1-strong me-3" src="/media/'
                                + data[i].children[j].author_avatar
                                + '" alt="avatar" width="65" height="65" /><div class="flex-grow-1 flex-shrink-1">'
                                + '<div><div class="d-flex justify-content-between align-items-center"><p class="mb-1">'
                                + data[i].children[j].author_name
                                + '</p></div><p class="small mb-0">'
                                + data[i].children[j].text
                                + '</p></div>';
                        }
                        html = html + '</div></div>';
                        $("#comments_list").append(html);
                    }
                },

            })
        }
        function add_comment(){
            csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: "{% url 'mainapp:comments-list' %}",
                type: "POST",
                data: {
                    author: {{ user.id }},
                    post: {{ lesson.post.id }},
                    text: $("#new_comment_text").val(),
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    $("#comments_list").empty();
                    $("#new_comment_text").val("");
                    load_comments();
                },

            })
        }
        $(document).ready(function(){
            load_comments();
        })
    </script>
{% endblock %}
{% block content %}
{# Блок Lesson #}
<div class="container " style="display: flex; margin-top: 100px;">
    {# left bar #}
    <div class='col-md-3' style="
    /* border: 3px solid blue;   */
    padding: 20px;">
        <h2 style="margin-top: 40px;"> Список уроков</h2>
        <ul class="list-group">
            {% for item in all_lessons %}
            <li class="list-group-item"><a href="{% url 'mainapp:lesson_detail' item.pk  %}"
                                           style="text-decoration: none">
                {{ item.post.title }}
            </a></li>
            {% endfor %}
        </ul>
    </div>
    {# end of left bar #}
    {# main content #}
    <div class='col-md-9' style="
    /* border:3px solid blue;  */
    padding: 20px; ">
        <h1>Курс {{ lesson.course.name }}</h1>
        <h2>Лекция {{lesson.order}}. {{lesson.post.title}}</h2>
        {% if lesson.video_url %}
<!--            Этот код работает для ссылок на видео с YouTube формата -->
<!--            https://www.youtube.com/embed/....-->
<!--            ссылку можно получить из youtube(на странице видео) > -->
<!--            > "поделиться" > "встроить" > из предложенного взять нужную часть вида как выше. -->
<!--            > вставить в поле "Video URL" при создании урока-->
        <figure class="figure mt-3">
            <iframe width="560" height="315"
                    src="{{lesson.video_url}}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </figure>
        {% endif %}
        {% if lesson.media_link %}
        <figure class="figure mt-3">
            {% if static_img %}
            <img src="/static/{{ lesson.media_link }}" class="figure-img img-fluid rounded" alt="...">
            {% endif %}
            {% if url_img %}
            <img src="{{ lesson.media_link }}" class="figure-img img-fluid rounded" alt="...">
            {% endif %}
        </figure>
        {% endif %}

        <p>{{ lesson.post.body|safe }}</p>

        <a href="{% url 'mainapp:course_detail' course.id %}" class="mt-4 btn btn-primary">Вернуться к курсу</a>
        <div class="mb-3 mt-4">
            {% csrf_token %}
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="text-center mb-4 pb-2">Комментарии</h4>
                    <div class="row">
                        <div class="col" id="comments_list">
                        </div>
                    </div>
                </div>
            </div>
            <textarea class="form-control mt-4" id="new_comment_text" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="button" value="Опубликовать" onclick="add_comment()">


    </div>
    {# end of main content #}


</div>

{% endblock %}