{% extends 'authapp/base.html' %}
{% load static %}

{# from https://www.pythontutorial.net/django-tutorial/django-loginview/ #}

{% block content %}
<div class="container mb-5" style="margin-top: 100px; max-width: 500px;">
    <h2>Войдите в систему</h2>
    <form class="mt-5" method="post" novalidate>
        {% csrf_token %}


		{% for field in form %}
		<div style="width: 100px; display: inline-block; margin-top:10px;">
	    		{{ field.label_tag }}
			</div>
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags }}</small>
	        	{% endif %}
        <br>
		{% endfor %}

		<hr>
        <div class="d-flex gap-4 mt-5">
            <button type="submit" class="btn btn-primary" value="Login" >Войти</button>
            <button type="submit" class="btn btn-primary" value="Register"> Регистрация</button>
        </div>
        		<hr>

	</form>
</div>

{% endblock %}

