{# Блок Footer #}
{% load static %}
<footer class="footer_common">
    <div class="footer_content">
        <div class="footer_content_columns">
            <div class="page-footer__col page-footer__terms">
                <div style="margin-bottom: 8px; color:#222;">
                    © 2023 PYTHONS.team
                </div>
                Наши условия <a style="color: #777" href="{% url 'mainapp:terms' %}">использования<br>и
                    конфиденциальности</a>

            </div>

            <div class="footer_column_list">
                <ul class="page-footer__col  page-footer__list">
                    <li style="list-style-type: none">
                        <a style="text-decoration: none;" href="{% url 'mainapp:in_progress' %}">Авторам курсов</a>
                    </li>
                    <li style="list-style-type: none">
                        <a style="text-decoration: none;" href="{% url 'mainapp:in_progress' %}">Компаниям</a>
                    </li>
                    <li style="list-style-type: none">
                        <a style="text-decoration: none;" href="{% url 'mainapp:help' %}">Помощь</a>
                    </li>

                    <li style="list-style-type: none">
                        <a style="text-decoration: none;" href="{% url 'mainapp:contacts' %}">Контакты</a>
                    </li>
                </ul>

                <ul class="page-footer__col page-footer__list">

                    <li style="list-style-type: none">
                        <a style="text-decoration: none;" href="{% url 'mainapp:in_progress' %}">
                            О проекте</a>
                    </li>

                    <li style="list-style-type: none">
                        <a style="text-decoration: none;" href="{% url 'mainapp:founders' %}">Команда</a>
                    </li>

                    <li style="list-style-type: none">
                        <a style="text-decoration: none;" href="{% url 'mainapp:user_manual' %}">Руководство пользователя</a>
                    </li>

                </ul>

                <ul style="color: #222">
                    <li style="list-style-type: none" >
                        Количество студентов: {{ num_students }} чел.
                    </li>
                </ul>
            </div>

            <div>
                <a class="footer_social_netw" href="#">
                    <img alt="VKontakte" src="{% static 'img/footer-vk.svg' %}">
                </a>
                <a class="footer_social_netw" href="#">
                    <img alt="Telegram" src="{% static 'img/footer-tg.svg' %}">
                </a>
                <a class="footer_social_netw" href="#">
                    <img alt="Instagram" src="{% static 'img/footer-instagram.svg' %}">
                </a>
                <a class="footer_social_netw" href="#">
                    <img alt="Discord" src="{% static 'img/footer-discord.svg' %}">
                </a>
            </div>
        </div>

        <div class="footer_lower_block">
            <div class="page-footer__col page-footer__apps">
                <a class="footer_lower_block_appstore" rel="noopener noreferrer" href="#">
                    <img alt="Get it on Apple Store" src="{% static 'img/footer-app-store-badge-ru.svg' %}">
                </a>
                <a class="footer_lower_block_appstore" rel="noopener noreferrer" href="#">
                    <img alt="Get it on Google Play" src="{% static 'img/footer-google-play-ru.svg' %}">
                </a>
                <a class="footer_lower_block_appstore" rel="noopener noreferrer" href="#">
                    <img alt="Get it on RuStore" src="{% static 'img/footer-rustore-ru.svg' %}">
                </a>
            </div>

            <div style="display: block; max-width: 50%;">
                Public user contributions licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC
                    BY-SA 4.0</a> license with
                attribution required
            </div>

            <a class="page-footer__col" href="https://sk.ru/">
                <img src="{% static 'img/footer-skolkovo_resident_ru.svg' %}" alt="Skolkovo resident" height="40"
                    width="56">
            </a>
        </div>
    </div>
</footer>
{# Конец Блок Footer #}