{# Блок меню #}
{% load static %}
<div>
    <nav
            class="navbar navbar-expand-lg bg-body-tertiary fixed-top"
            data-bs-theme="dark"
    >
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'mainapp:index' %}">
                <img
                        src="{% static 'img/logo.svg' %}"
                        alt="Logo"
                        width="30"
                        height="30"
                        class="d-inline-block align-text-top"
                >
                Твой Курс
                <img
                    src="{% static 'img/home-i.png' %}"
                    alt="Home"
                    width="22"
                    height="22"
                    class="d-inline-block align-text-top">
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Переключатель навигации"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     {% if user and user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle active"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Личный кабинет
                        </a>
                        <ul class="dropdown-menu">


                            {% if user and user.is_superuser %}
                            <li><a class="dropdown-item" style="color: #fff;" href="{% url 'admin:index' %}">Админ.панель</a>
                            </li>
                            <li><a class="dropdown-item" style="color: #fff;" href="{% url 'mainapp:request_teacher' %}">Заявки</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <!--Logging-->
                            <li><a class="dropdown-item" style="color: #fff;" href="{% url 'mainapp:log_view' %}">Лог</a>
                            </li>
                            <!--Logging end-->

                            {% elif user and user.is_authenticated %}
                            <li><a class="dropdown-item" style="color: #fff;" href="{% url 'mainapp:cabinet' %}">Личный
                                кабинет</a></li>
                            <li><a class="dropdown-item" style="color: #fff;" href="{% url 'authapp:update' user.id %}">Профиль</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'mainapp:categories' %}">Категории</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'mainapp:news_list' %}">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'mainapp:contacts' %}">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'mainapp:user_manual' %}">Справка</a>
                    </li>                    
                </ul>
                <form action="{% url 'mainapp:search' %}" method="get" class="d-flex my-auto me-3" role="search">
                    <input
                            class="form-control me-3"
                            type="text"
                            name="q"
                            placeholder="Введите запрос"
                            aria-label="Поиск"
                    />
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
                <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                    {% if user.is_authenticated %}
                    <li style="display: flex; align-items: center;">

                        <p style="color: white; margin: 0 5 0 20px;">{{ user.username }}</p>
                    </li>
                    <li class="nav-item" style="display: flex; align-items: center;">
                        <a id="a_id" class="nav-link active" href="{% url 'mainapp:cart' %}">
                            <button id="b_id" class="btn btn-primary my-auto" type="submit"
                                    style="margin-left:20px;">
                                Корзина <span id="dataCart" class="badge badge-light"></span>
                            </button>
                        </a>

                    </li>
                    <li class="nav-item my-auto" style="display: flex; align-items: center;">
                        <a class="nav-link active" href="{% url 'logout' %}">
                            <button class="btn btn-primary" type="submit" style="margin-left: 20px">
                                Выйти
                            </button>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item " style="display: flex; align-items: center;">
                        <a class="nav-link active" href="{% url 'authapp:login' %}">
                            <button class="btn btn-primary my-auto" type="submit" style="margin-left: 20px;">
                                Войти
                            </button>
                        </a>
                    </li>
                    <li class="nav-item my-auto" style="display: flex; align-items: center;">
                        <a class="nav-link active" href="{% url 'authapp:register' %}">
                            <button class="btn btn-primary my-auto" type="submit">
                                Зарегистрироваться
                            </button>
                        </a>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</div>
{# КОНЕЦ Блок меню #}
