
    <div class="row justify-content-center align-items-center mt-3 mb-n3" style="margin-bottom: 20px;">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link"
              href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}

          {% for item in page_obj.paginator.page_range %}
          <li class="page-item
            {% if item == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ item }}">{{ item }}</a>
          </li>
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link"
              href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
